@font-face {
	font-family: Kaushan Script;
	src: local("Kaushan Script"), local("KaushanScript-Regular"), url(http://fonts.gstatic.com/l/font?kit=vm8vdRfvXFLG3OLnsO15WYS5DF780tZe&skey=31e8905c8b129a4e&v=v6) format("woff");
	font-weight: 400;
	font-style: normal;
}
