@font-face {
	font-family: Pacifico;
	src: local("Pacifico Regular"), local("Pacifico-Regular"), url(http://fonts.gstatic.com/l/font?kit=FwZY7-Qmy14u9lezJ96D-sj7wDHL&skey=a336e4011ec32111&v=v12) format("woff");
	font-weight: 400;
	font-style: normal;
}
