            .hny-txt {
                animation: glowtwo 3s ease-in-out infinite;
                margin: 0;
            }

            @keyframes glowtwo {
                0%,100% {
                    text-shadow: 0 0 30px #F7FE18;
                    color: white;
                }

                25% {
                    text-shadow: 0 0 30px #F7FE18;
                    color: black;
                }

                50% {
                    text-shadow: 0 0 30px white;
                    color: white;
                }

                75% {
                    text-shadow: 0 0 30px #F7FE18;
                    white: white;
                }
            }

            .m1 {
                position: fixed;
                left: 1%;
                width: auto;
                height: 100%;
                top: 1%;
                color: #000;
            }

            .m2 {
                position: fixed;
                right: 1%;
                width: auto;
                height: 100%;
                top: 1%;
                color: #000;
            }

            #show-name {
                font-size: 25px;
                display: inline-block;
                margin-bottom: 5px;
                animation: swing 1s infinite, glow 20s infinite;
            }

            @keyframes glow {
                0%, 100% {
                    text-shadow: 0 0 30px red;
                }

                25% {
                    text-shadow: 0 0 30px orange;
                }

                50% {
                    text-shadow: 0 0 30px forestgreen;
                }

                75% {
                    text-shadow: 0 0 30px cyan;
                }
            }

            @keyframes swing {
                0% {
                    transform: rotate(3deg);
                }

                50% {
                    transform: rotate(-3deg);
                }

                100% {
                    transform: rotate(3deg);
                }
            }

            @-webkit-keyframes swing {
                15% {
                    -webkit-transform: translateY(5px);
                    transform: translateY(5px);
                }

                30% {
                    -webkit-transform: translateY(-5px);
                    transform: translateY(-5px);
                }

                50% {
                    -webkit-transform: translateY(4px);
                    transform: translateY(4px);
                }

                65% {
                    -webkit-transform: translateY(-4px);
                    transform: translateY(-4px);
                }

                80% {
                    -webkit-transform: translateY(3px);
                    transform: translateY(3px);
                }

                100% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
            }

            @keyframes swing {
                15% {
                    -webkit-transform: translateY(5px);
                    transform: translateY(5px);
                }

                30% {
                    -webkit-transform: translateY(-5px);
                    transform: translateY(-5px);
                }

                50% {
                    -webkit-transform: translateY(4px);
                    transform: translateY(4px);
                }

                65% {
                    -webkit-transform: translateY(-4px);
                    transform: translateY(-4px);
                }

                80% {
                    -webkit-transform: translateY(3px);
                    transform: translateY(3px);
                }

                100% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
            }

            @-webkit-keyframes swing1 {
                15% {
                    -webkit-transform: translateY(5px);
                    transform: translateY(5px);
                }

                30% {
                    -webkit-transform: translateY(-5px);
                    transform: translateY(-5px);
                }

                50% {
                    -webkit-transform: translateY(4px);
                    transform: translateY(4px);
                }

                65% {
                    -webkit-transform: translateY(-4px);
                    transform: translateY(-4px);
                }

                80% {
                    -webkit-transform: translateY(3px);
                    transform: translateY(3px);
                }

                100% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
            }

            @keyframes swing1 {
                15% {
                    -webkit-transform: translateY(5px);
                    transform: translateY(5px);
                }

                30% {
                    -webkit-transform: translateY(-5px);
                    transform: translateY(-5px);
                }

                50% {
                    -webkit-transform: translateY(4px);
                    transform: translateY(4px);
                }

                65% {
                    -webkit-transform: translateY(-4px);
                    transform: translateY(-4px);
                }

                80% {
                    -webkit-transform: translateY(3px);
                    transform: translateY(3px);
                }

                100% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
            }

            @-webkit-keyframes swing2 {
                15% {
                    -webkit-transform: translateY(5px);
                    transform: translateY(5px);
                }

                30% {
                    -webkit-transform: translateY(-5px);
                    transform: translateY(-5px);
                }

                50% {
                    -webkit-transform: translateY(4px);
                    transform: translateY(4px);
                }

                65% {
                    -webkit-transform: translateY(-4px);
                    transform: translateY(-4px);
                }

                80% {
                    -webkit-transform: translateY(3px);
                    transform: translateY(3px);
                }

                100% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
            }

            @keyframes swing2 {
                15% {
                    -webkit-transform: translateY(5px);
                    transform: translateY(5px);
                }

                30% {
                    -webkit-transform: translateY(-5px);
                    transform: translateY(-5px);
                }

                50% {
                    -webkit-transform: translateY(4px);
                    transform: translateY(4px);
                }

                65% {
                    -webkit-transform: translateY(-4px);
                    transform: translateY(-4px);
                }

                80% {
                    -webkit-transform: translateY(3px);
                    transform: translateY(3px);
                }

                100% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
            }

            @-webkit-keyframes swing3 {
                15% {
                    -webkit-transform: translateY(5px);
                    transform: translateY(5px);
                }

                30% {
                    -webkit-transform: translateY(-5px);
                    transform: translateY(-5px);
                }

                50% {
                    -webkit-transform: translateY(4px);
                    transform: translateY(4px);
                }

                65% {
                    -webkit-transform: translateY(-4px);
                    transform: translateY(-4px);
                }

                80% {
                    -webkit-transform: translateY(3px);
                    transform: translateY(3px);
                }

                100% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
            }

            @keyframes swing3 {
                15% {
                    -webkit-transform: translateY(5px);
                    transform: translateY(5px);
                }

                30% {
                    -webkit-transform: translateY(-5px);
                    transform: translateY(-5px);
                }

                50% {
                    -webkit-transform: translateY(4px);
                    transform: translateY(4px);
                }

                65% {
                    -webkit-transform: translateY(-4px);
                    transform: translateY(-4px);
                }

                80% {
                    -webkit-transform: translateY(3px);
                    transform: translateY(3px);
                }

                100% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
            }



            .swing {
                -webkit-animation: swing 5s infinite; /* Chrome, Safari, Opera */
                animation: swing 5s infinite;
                -webkit-animation-timing-function: cubic-bezier(0,0,0.25,1);
                animation-timing-function: cubic-bezier(0,0,0.25,1);
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
            }

            .swing1 {
                -webkit-animation: swing1 3s infinite; /* Chrome, Safari, Opera */
                animation: swing1 3s infinite;
                -webkit-animation-timing-function: cubic-bezier(0,0,0.25,1);
                animation-timing-function: cubic-bezier(0,0,0.25,1);
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
            }

            .swing2 {
                -webkit-animation: swing1 6s infinite; /* Chrome, Safari, Opera */
                animation: swing1 6s infinite;
                -webkit-animation-timing-function: cubic-bezier(0,0,0.25,1);
                animation-timing-function: cubic-bezier(0,0,0.25,1);
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
            }

            .swing3 {
                -webkit-animation: swing1 4s infinite; /* Chrome, Safari, Opera */
                animation: swing1 4s infinite;
                -webkit-animation-timing-function: cubic-bezier(0,0,0.25,1);
                animation-timing-function: cubic-bezier(0,0,0.25,1);
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
            }

            /*DANCING ANIMATION*/
            @keyframes dance {
                0% {
                    -webkit-transform: rotate(10deg);
                    -ms-transform: rotate(10deg);
                    transform: rotate(10deg);
                }

                16.66%, 49.98% {
                    -webkit-transform: rotate(-10deg);
                    -ms-transform: rotate(-10deg);
                    transform: rotate(-10deg);
                }

                32.32% {
                    -webkit-transform: rotate(-5deg);
                    -ms-transform: rotate(-5deg);
                    transform: rotate(-5deg);
                }

                66.64%, 100% {
                    -webkit-transform: rotate(10deg);
                    -ms-transform: rotate(10deg);
                    transform: rotate(10deg);
                }

                83.8% {
                    -webkit-transform: rotate(5deg);
                    -ms-transform: rotate(5deg);
                    transform: rotate(5deg);
                }
            }

            -webkit-@keyframes dance {
                0%;

            {
                -webkit-transform: rotate(10deg);
                -ms-transform: rotate(10deg);
                transform: rotate(10deg);
            }

            16.66%, 49.98% {
                -webkit-transform: rotate(-10deg);
                -ms-transform: rotate(-10deg);
                transform: rotate(-10deg);
            }

            32.32% {
                -webkit-transform: rotate(-5deg);
                -ms-transform: rotate(-5deg);
                transform: rotate(-5deg);
            }

            66.64%, 100% {
                -webkit-transform: rotate(10deg);
                -ms-transform: rotate(10deg);
                transform: rotate(10deg);
            }

            83.8% {
                -webkit-transform: rotate(5deg);
                -ms-transform: rotate(5deg);
                transform: rotate(5deg);
            }

            }
            @import url(https://fonts.googleapis.com/css?family=Concert+One);

            h1 {
                animation: glow 10s ease-in-out infinite;
                animation:none;
                -webkit-text-stroke:1px #fff;
            }



            * {
                box-sizing: border-box;
            }

            figure {
                animation: wobble 5s ease-in-out infinite;
                transform-origin: center center;
                transform-style: preserve-3d;
            }

            @keyframes wobble {
                0%,100% {
                    transform: rotate3d(1,1,0,40deg);
                }

                25% {
                    transform: rotate3d(-1,1,0,40deg);
                }

                50% {
                    transform: rotate3d(-1,-1,0,40deg);
                }

                75% {
                    transform: rotate3d(1,-1,0,40deg);
                }
            }

            h1 {
                display: block;
                width: 100%;
                font: 900 2.5em 'Concert One', sans-serif;
                text-transform: uppercase;
                position: absolute;
                color: #F4052D;
            }

            @keyframes glow {
                0%,100% {
                    text-shadow: 0 0 30px white;
                }

                25% {
                    text-shadow: 0 0 30px orange;
                }

                50% {
                    text-shadow: 0 0 30px #05F426;
                }

                75% {
                    text-shadow: 0 0 30px #C105F4;
                }
            }

            h1:nth-child(2) {
                transform: translateZ(5px);
            }

            h1:nth-child(3) {
                transform: translateZ(10px);
            }

            h1:nth-child(4) {
                transform: translateZ(15px);
            }

            h1:nth-child(5) {
                transform: translateZ(20px);
            }

            h1:nth-child(6) {
                transform: translateZ(25px);
            }

            h1:nth-child(7) {
                transform: translateZ(30px);
            }

            h1:nth-child(8) {
                transform: translateZ(35px);
            }

            h1:nth-child(9) {
                transform: translateZ(40px);
            }

            h1:nth-child(10) {
                transform: translateZ(45px);
            }